# Konfigurasi Koneksi Database PostgreSQL
# Contoh format: postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require
DATABASE_URL=postgresql://postgres.izilvzivmthnltrqmkoi:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres

# Server & Auth Configuration
PORT=4000
JWT_SECRET=super_secret_jwt_key_myarsip_nikah_pelang_kidul_2026
NODE_ENV=development
